
mixin button(theme, text)
  if theme == 'dark'
    button.btn-paddings.btn-dark.flex
      span.btn-text= text
      span.btn-icon-primary
  else
    button.btn-paddings.btn-primary.flex
      span.btn-text= text
      span.btn-icon-dark
