mixin section-info-card(title, link = 'Read more')
  div.text-center.quick-link-card.grid-item-transfer
    h3.title-sm= title
    p.fsz-md.quick-link-short-description There are many variations of the passages of lorem Ipsum from available, majority.
    a(href="#").quick-link= link
