// focusAnimation

@keyframes searchInputScale {
  from {
    width: 24px;

    background: transparent;
    caret-color: transparent;
  }
  to {
    width: 250px;
    padding: 10px 20px;

    background: var(--light-900);
    border-radius: 18px;

    caret-color: var(--dark-300);
  }
}

@keyframes searchInputReduce {
  from {
    width: 250px;
    padding: 10px 20px;

    background: var(--light-900);
    border-radius: 18px;
  }
  to {
    width: 24;
  }
}

@keyframes showPlaceholder {
  from {
    color: transparent
  }
  to {
    color: var(--dark-300);
  }
}
