@container header (width < 636px) {
  .header-nav {
    order: 3;
    flex-grow: 2;
  }

  .input-search {
    min-width: 250px;
    padding: 10px 20px;

    background: var(--light-900);
    border-radius: 18px;
  }
}

@container header (width < 455px) {
  .header-nav {
    display: none;
  }

  .header-search,
  .input-search {
    width: 100%;
  }
}

@container quick-links (width < 830px) {
  .grid-item-transfer:nth-child(3) {
    grid-row: 2;
    grid-column: span 2;
  }
}
