@use "../abstracts/variables" as v;
@use "../abstracts/mixin" as m;

:root {
  @each $shade, $value in v.$color {
    --#{$shade}: #{$value};
  }

  @each $size, $value in v.$font-size {
    --#{$size}: #{$value};
  }

  @each $font, $value in v.$font-family {
    --#{$font}: #{$value};
  }

  @each $size, $value in v.$sizes {
    --#{$size}: #{$value};
  }
}

html {
  scrollbar-width: thin;
  scrollbar-color: hsl(0deg 0% 80%);
}

body * {
  line-height: 150%;
  font-family: var(--text-base), sans-serif;
  color: var(--dark-100);
}

button,
a {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font), sans-serif;
  line-height: 125%;
}

// grid classes

.flex {
  display: flex;
}

.grid {
  display: grid;
}

// utility classes

.margin-end {
  margin-bottom: var(--margin-y);
}

.text-center {
  text-align: center;
}

@include m.text-size;
