header.grid-outer.header-paddings
  div.flex.header-container
    a(href="index.html").logo
      img(src="./assets/img/logo.svg", alt="Логотип компании: декоративная надпись Interno")
    nav.header-nav
      ul.nav-list.flex
        li.nav-item
          a(href="").nav-link Home
        li.nav-item
          a(href="").nav-link Pages
        li.nav-item
          a(href="").nav-link Services
        li.nav-item
          a(href="").nav-link Project
        li.nav-item
          a(href="").nav-link Blog
        li.nav-item
          a(href="").nav-link Contact
    form.header-search(action="search")
      input(type="search" placeholder="search").input-search

