include ../abstracts/mixin.pug

main.grid-outer
  section.full-width.hero
    .hero-content.d-flex
      h1.main-title Let Your Home Be Unique
      p.main-text There are many variations of the passages of lorem Ipsum fromavailable,variations of the passages.
      +button('dark', 'Get Started')
