$color: (
  clr-w: hsl(0deg 0% 100%),
  primary: hsl(31deg 47% 63%),
  dark-100: hsl(212deg 14% 19%),
  dark-300: hsl(212deg 4% 31%),
  light-900: hsl(30deg 27% 94%),
);
$grid-sizes: (
  content-max-width: 75rem,
  padding-inline: 2rem,
);
$font-size: (
  heading-84: clamp(1.5rem, 3.25vw + 1.5rem, 5.25rem),
  heading-50: 3.125rem,
  heading-32: 2rem,
  text-lg: clamp(1.125rem, 0.25vw + 1rem, 1.375rem),
  text-md: clamp(1rem,0.25vw + 1rem, 1.25rem),
  text-sm: 1.125rem
);
$font-family: (
  heading-font: dmserifdisplay,
  text-base: jost-regular,
  text-bold: jost-bold,
  text-semibold: jost-semibold,
  text-italic: jost-italic
)
