.hero {
  padding: clamp(3.125rem, 9.375vw + 3.125rem, 12.5rem) 0;
  margin-bottom: 200px;
  background: url(../assets/img/photo/home_page/hero_pic.jpg) no-repeat center / cover;
  border-radius: 0 0 0 25%;
}

.hero-content {
  max-width: 500px;
  flex-direction: column;
  align-items: start;
}

.main-title {
  font-size: var(--heading-84);
  font-family: var(--heading-font);
}

.main-text {
  padding: 10px 0 20px;
  font-size: var(--text-lg);
  color: var(--dark-100);
}
