doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Interno
    link(rel="stylesheet", href="css/main.min.css")
    script(defer src="js/app.min.js")
  body
    include html_block/home_page/header.pug
    include html_block/home_page/main.pug


